; Encounter resource profile built with FHIR schema

{
  :base "hl7.fhir.r4.core#4.0.1/Encounter"
  :fqn "custom-profiles#1.0.0/encounter"
  :url "https://custom-profiles/encounter"
  :required #{"id" "status" "class" "subject" "location" "period"}
  :elements {
              "id" {
                    :type "hl7.fhir.r4.core#4.0.1/id"
                    :constraints {
                                  "id_regex" {
                                              :expression "$this.matches('^[0-9a-zA-Z-.]{1,64}$')"
                                              :severity "error"
                                              :human "Id should be a combination of upper- or lower-case ASCII letters, numerals, '-' and '.', with a length limit of 64 characters."
                                              }
                                  }
                    }
              "class" {
                        :required #{"system" "code" "display"}
                        :binding {
                                  :valueSet "http://terminology.hl7.org/ValueSet/v3-ActEncounterCode"
                                  :codesystems ["http://terminology.hl7.org/CodeSystem/v3-ActCode"]
                                  :strength "required"
                                  }
                         :elements {
                                    "code" {
                                            :constraints {
                                                          "class_code" {
                                                                        :severity "error"
                                                                        :expression "%context.subsetOf('IMP' | 'EMER')"
                                                                        :human "The type of encounter must be IMP (impatient) or EMER (emergency)."
                                                                        }
                                                          }
                                            }
                                    }
                        }
              "subject" {
                          :refers ["hl7.fhir.r4.core#4.0.1/Patient"]  ; This doesn't function properly
                          }
              "location" {
                          :required #{"location" "status" "period"}
                          :array true
                          :elements {
                                      "location" {
                                                  :required #{"reference" "display"}
                                                  :elements {
                                                              "reference" {:refers ["hl7.fhir.r4.core#4.0.1/Location"]}  ; This doesn't function properly
                                                              }
                                                  }
                                      "status" {
                                                :binding {
                                                      :valueSet "http://hl7.org/fhir/ValueSet/encounter-location-status"
                                                      :codesystems ["http://hl7.org/fhir/encounter-location-status"]
                                                      :strength "required"
                                                      }
                                                }
                                      "period" {
                                                :required #{"start" "end"}
                                                :elements {
                                                            "start" {:type "hl7.fhir.r4.core#4.0.1/dateTime"}
                                                            "end" {:type "hl7.fhir.r4.core#4.0.1/dateTime"}
                                                            }
                                                }
                                      }

                            }
                "period" {
                          :required #{"start" "end"}
                          :elements {
                                      "start" {:type "hl7.fhir.r4.core#4.0.1/dateTime"}
                                      "end" {:type "hl7.fhir.r4.core#4.0.1/dateTime"}
                                      }
                          }
            }
}
