; Patient resource profile built with FHIR schema

{
  :base "hl7.fhir.r4.core#4.0.1/Patient"
  :fqn "custom-profiles#1.0.0/patient"
  :url "https://custom-profiles/patient"
  :required #{"id" "gender" "birthDate"}
  :elements {
              "id" {
                    :type "hl7.fhir.r4.core#4.0.1/id"
                    :constraints {
                                  "id_regex" {
                                              :expression "$this.matches('^[0-9a-zA-Z-.]{1,64}$')"
                                              :severity "error"
                                              :human "Id should be a combination of upper- or lower-case ASCII letters, numerals, '-' and '.', with a length limit of 64 characters."
                                              }
                                  }
                    }
              "birthDate" {
                            :type "string"  ; validation returns error if put "date" as type
                            :constraints {
                                          "birthdate_regex" {
                                                              :expression "$this.matches('^[0-9]{4}-(0[1-9]|1[0-2])$')"
                                                              :severity "error"
                                                              :human "birthDate should follow the format YYYY-MM."
                                                              }
                                         }
                          }
              "deceased" {:choices ["deceasedDateTime"]}
              "deceasedDateTime" {:choiceOf "deceased"}
            }
}
